*.lo*
*.DS*
*._*
*.so*
*.a*
*.la*
.deps*
.libs*
*.o
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/
configure
m4/
image/
Makefile
config.status
examples/.dirstamp
examples/main.o
libtool
stylagps.o
tags
*libtool*
stylagps_demo
stylagps_send
stylagps_receive
*.tar.xz
stylagps_demo_static
stylagps_mqReceive
stylagps_mqSend
