*.lo*
*.DS*
*._*
*.so*
*.a*
*.la*
.deps*
.libs*
*.o
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/
configure
m4/
image/
Makefile
config.status
examples/.dirstamp
examples/main.o
libtool
stylagps.o
stylagps_demo
tags
*libtool
